extends ./layout/index 

block contenido
    main.container.mt-5  
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class= "img-fluid")
            .col-md-7
                h1= pagina
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Ut diam tellus, mattis vel neque volutpat, ultricies auctor sapien. Vestibulum ut lobortis quam. Pellentesque in accumsan ligula. Etiam gravida, lacus vitae pulvinar porttitor, eros velit pretium elit, non ullamcorper augue nulla sed diam. Pellentesque lobortis dolor non elit fermentum, ac porta turpis fringilla. Sed blandit iaculis dui. Maecenas ut quam turpis. Duis et dapibus enim.

                p vel nibh eget nisi placerat congue quis eu tellus. Phasellus facilisis libero mi, ac cursus turpis accumsan sit amet. Fusce rhoncus ultrices orci vitae semper. Duis ut odio lectus. Donec ac molestie ipsum. Nam vitae orci in nibh porta mattis a vel lacus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sodales risus ipsum.

                p sit amet tincidunt ipsum. Cras ac venenatis lectus. In et lacus venenatis quam sagittis finibus pharetra nec ipsum. In posuere sapien vel venenatis porttitor. Duis eget mi eget justo sollicitudin ultricies. Curabitur eget ex a turpis ultrices dignissim. Sed ut sodales erat. Nunc risus turpis, lobortis non eleifend vel, faucibus cursus mauris. Aenean consectetur urna vitae venenatis auctor. Duis interdum suscipit enim eu lacinia. Nulla maximus diam vitae venenatis ultrices.
        
        .listado-iconos
            .container.mt-5.py-5.text-center 
                .row
                    .col-md-4  
                        img(src="img/icono_seguridad.svg", alt="icono seguridad", class= "img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Cras ac venenatis lectus. In et lacus venenatis quam sagittis finibus pharetra nec ipsum. In posuere sapien vel venenatis porttitor.
                    .col-md-4 
                        img(src="img/icono_destinos.svg", alt="icono destinos", class= "img-fluid mb-4")
                        h2.mb-4 Mejores Destinos
                        p Cras ac venenatis lectus. In et lacus venenatis quam sagittis finibus pharetra nec ipsum. In posuere sapien vel venenatis porttitor.
                    .col-md-4 
                        img(src="img/icono_precios.svg", alt="icono precios", class= "img-fluid mb-4")
                        h2.mb-4 Los Mejores Precios
                        p Cras ac venenatis lectus. In et lacus venenatis quam sagittis finibus pharetra nec ipsum. In posuere sapien vel venenatis porttitor.